@import "../../styles/constants.scss";

.container {
  @include DirectionAlignJustify(row, none, none);
  flex-wrap: wrap;
  width: 100%;
  .containerImg {
    .imgProduct {
      width: 400px;
      @media (max-width: 768px) {
        width: 300px;
      }
    }
  }
  .contaienrDetails {
    @include DirectionAlignJustify(column, none, flex-start);
    margin-left: 35px;
    width: 100%;
    .titleDetails {
      @include FamilyWeightSizeColor("Poppins-Regular", 500, 24px, #333333);
    }

    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0px;
    }
    @include DirectionAlignJustify(column, none, flex-start);
    .containerListDetails {
      width: 100%;
      @include DirectionAlignJustify(column, none, center);
    }
    .actionsContainer {
      margin-top: 40px;
    }
    .addButton {
      margin-top: 20px;
      cursor: pointer;
      padding: 10px 0px;
      background: #000000;
      width: 350px;
      height: 45px;
      @include DirectionAlignJustify(row, center, center);
      @include FamilyWeightSizeColor("Poppins-Bold", 00, 14px, #ffffff);
    }
    .addButton:hover {
      transform: scale(1.03);
    }
  }
}

.containerSelect {
  width: 300px; // This works
  margin: 5px;
}

.containerSelect {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  padding-right: 10px;
  position: relative;
  z-index: 1;

  &:before {
    content: "\25BC";
    position: absolute;
    font-size: 8px;
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    -ms-transform: scaleY(0.7);
    -o-transform: scaleY(0.7);
    transform: scaleY(0.7);
    right: 0;
    top: 50%;
    margin-top: -4px;
    background: transparent;
    width: 30px;
    text-align: center;
    pointer-events: none;
    z-index: 2;
  }

  select {
    background: transparent;
    border-radius: 0;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    border: 0;
    outline: none;
    color: inherit;
    height: 2.1em;
    width: calc(100% + 50px);
    max-width: none !important;
  }
}
